**Acceso a la data de precios**

In [4]:
#Importamos las librerias a utilizar
import requests
import pandas as pd
from pandas import json_normalize
import time

#Definimos el endpoint
url = 'https://api.abastores.com/api/v2/marketdata/dataprice/'

#Parametros de paginacion
page_size = 1000
pages = 10
all_data = []

for page in range(1,pages+1):
    print(page)
    params = {'page': page, 'page_size': page_size}
    headers = {
                'accept': 'application/json',
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzA2MjcyNTcxLCJqdGkiOiIxMDNmNWQ0MzAxMGU0MWNjOTcyOGNhMjA0ZWU2ZDQ3YSIsInVzZXJfaWQiOjQzODV9.kloRA-VamXlUpO6D98GDfxPXVssTV2Dt_JP4i8WeqFM'
              }
    time.sleep(2)
    response = requests.get(url,params=params, headers=headers)
    if response.status_code == 200:
        json_data = response.json()
        results = json_data.get('results', [])
        df = pd.DataFrame(results)
    
        df_expanded = pd.concat([
        df.drop(columns=['product', 'province', 'data_source', 'last_deviation']),
        json_normalize(df['product']).add_prefix('product_'),
        json_normalize(df['province']).add_prefix('province_'),
        json_normalize(df['data_source']).add_prefix('data_source_'),
        json_normalize(df['last_deviation']).add_prefix('last_deviation_')
        ], axis=1)
    
        all_data.append(df_expanded)
    else:
        print(f'No se pudo recopilar el {page}')

final_df = pd.concat(all_data, ignore_index=True)

1
2
3
4
No se pudo recopilar el 4
5
No se pudo recopilar el 5
6
No se pudo recopilar el 6
7
No se pudo recopilar el 7
8
No se pudo recopilar el 8
9
No se pudo recopilar el 9
10
No se pudo recopilar el 10

In [7]:
final_df.columns

Index(['id', 'date', 'price', 'quantity', 'region', 'product_id',
       'product_meta_product.id', 'product_meta_product.name',
       'product_meta_product.icon', 'product_family.id', 'product_family.name',
       'product_variety.id', 'product_variety.name', 'province_id',
       'province_name', 'data_source_id', 'data_source_name',
       'data_source_link', 'data_source_kind', 'last_deviation_date',
       'last_deviation_deviation'],
      dtype='object')

In [14]:
final_df.groupby(['province_name', 'product_meta_product.name']).count()

                                         id  date  price  quantity  region  \
province_name product_meta_product.name
Albacete      Avena                       2     2      2         0       0
              Cebada                      3     3      3         0       0
              Centeno                     1     1      1         0       0
              Ma√≠z                        2     2      2         0       0
              Trigo                       5     5      5         0       0
              Triticale                   1     1      1         0       0
Barcelona     Cebada                      2     2      2         0       0
              Ma√≠z                        2     2      2         0       0
              Pipa                        1     1      1         0       0
              Trigo                       1     1      1         0       0
Burgos        Trigo                       1     1      1         0       0
Ciudad Real   Cebada                      1     1      1         0       0
Cuenca        Cebada                      1     1      1         0       0
C√≥rdoba       Cebada                      1     1      1         0       0
              Trigo                       6     6      6         0       0
Le√≥n          Avena                       1     1      1         0       0
              Cebada                      1     1      1         0       0
              Centeno                     1     1      1         0       0
              Ma√≠z                        2     2      2         0       0
              Pipa                        1     1      1         0       0
              Pipa Girasol                1     1      1         0       0
              Trigo                       1     1      1         0       0
              Triticale                   1     1      1         0       0
Lleida        Cebada                      1     1      1         0       0
              Trigo                       1     1      1         0       0
Palencia      Cebada                      1     1      1         0       0
              Trigo                       1     1      1         0       0
Par√≠s         Ma√≠z                        1     1      1         0       0
              Trigo                       1     1      1         0       0
Salamanca     Avena                       1     1      1         0       0
              Cebada                      1     1      1         0       0
              Centeno                     1     1      1         0       0
              Ma√≠z                        1     1      1         0       0
              Trigo                       1     1      1         0       0
              Triticale                   1     1      1         0       0
Segovia       Avena                       1     1      1         0       0
              Cebada                      1     1      1         0       0
              Centeno                     1     1      1         0       0
              Colza                       1     1      1         0       0
              Pipa                        1     1      1         0       0
              Pipa Girasol                1     1      1         0       0
              Trigo                       1     1      1         0       0
Valladolid    Cebada                      1     1      1         0       0
Zamora        Avena                       1     1      1         0       0
              Cebada                      1     1      1         0       0
              Ma√≠z                        1     1      1         0       0
              Trigo                       1     1      1         0       0
Zaragoza      Cebada                      1     1      1         0       0
              Trigo                       1     1      1         0       0

                                         product_id  product_meta_product.id  \
province_name product_meta_product.name
Albacete      Avena                               2                        2
              Cebada                              3                        3
              Centeno                             1                        1
              Ma√≠z                                2                        2
              Trigo                               5                        5
              Triticale                           1                        1
Barcelona     Cebada                              2                        2
              Ma√≠z                                2                        2
              Pipa                                1                        1
              Trigo                               1                        1
Burgos        Trigo                               1                        1
Ciudad Real   Cebada                              1                        1
Cuenca        Cebada                              1                        1
C√≥rdoba       Cebada                              1                        1
              Trigo                               6                        6
Le√≥n          Avena                               1                        1
              Cebada                              1                        1
              Centeno                             1                        1
              Ma√≠z                                2                        2
              Pipa                                1                        1
              Pipa Girasol                        1                        1
              Trigo                               1                        1
              Triticale                           1                        1
Lleida        Cebada                              1                        1
              Trigo                               1                        1
Palencia      Cebada                              1                        1
              Trigo                               1                        1
Par√≠s         Ma√≠z                                1                        1
              Trigo                               1                        1
Salamanca     Avena                               1                        1
              Cebada                              1                        1
              Centeno                             1                        1
              Ma√≠z                                1                        1
              Trigo                               1                        1
              Triticale                           1                        1
Segovia       Avena                               1                        1
              Cebada                              1                        1
              Centeno                             1                        1
              Colza                               1                        1
              Pipa                                1                        1
              Pipa Girasol                        1                        1
              Trigo                               1                        1
Valladolid    Cebada                              1                        1
Zamora        Avena                               1                        1
              Cebada                              1                        1
              Ma√≠z                                1                        1
              Trigo                               1                        1
Zaragoza      Cebada                              1                        1
              Trigo                               1                        1

                                         product_meta_product.icon  \
province_name product_meta_product.name
Albacete      Avena                                              2
              Cebada                                             3
              Centeno                                            1
              Ma√≠z                                               2
              Trigo                                              5
              Triticale                                          1
Barcelona     Cebada                                             2
              Ma√≠z                                               2
              Pipa                                               0
              Trigo                                              1
Burgos        Trigo                                              1
Ciudad Real   Cebada                                             1
Cuenca        Cebada                                             1
C√≥rdoba       Cebada                                             1
              Trigo                                              6
Le√≥n          Avena                                              1
              Cebada                                             1
              Centeno                                            1
              Ma√≠z                                               2
              Pipa                                               0
              Pipa Girasol                                       1
              Trigo                                              1
              Triticale                                          1
Lleida        Cebada                                             1
              Trigo                                              1
Palencia      Cebada                                             1
              Trigo                                              1
Par√≠s         Ma√≠z                                               1
              Trigo                                              1
Salamanca     Avena                                              1
              Cebada                                             1
              Centeno                                            1
              Ma√≠z                                               1
              Trigo                                              1
              Triticale                                          1
Segovia       Avena                                              1
              Cebada                                             1
              Centeno                                            1
              Colza                                              0
              Pipa                                               0
              Pipa Girasol                                       1
              Trigo                                              1
Valladolid    Cebada                                             1
Zamora        Avena                                              1
              Cebada                                             1
              Ma√≠z                                               1
              Trigo                                              1
Zaragoza      Cebada                                             1
              Trigo                                              1

                                         product_family.id  \
province_name product_meta_product.name
Albacete      Avena                                      2
              Cebada                                     3
              Centeno                                    1
              Ma√≠z                                       2
              Trigo                                      5
              Triticale                                  1
Barcelona     Cebada                                     2
              Ma√≠z                                       2
              Pipa                                       1
              Trigo                                      1
Burgos        Trigo                                      1
Ciudad Real   Cebada                                     1
Cuenca        Cebada                                     1
C√≥rdoba       Cebada                                     1
              Trigo                                      6
Le√≥n          Avena                                      1
              Cebada                                     1
              Centeno                                    1
              Ma√≠z                                       2
              Pipa                                       1
              Pipa Girasol                               1
              Trigo                                      1
              Triticale                                  1
Lleida        Cebada                                     1
              Trigo                                      1
Palencia      Cebada                                     1
              Trigo                                      1
Par√≠s         Ma√≠z                                       1
              Trigo                                      1
Salamanca     Avena                                      1
              Cebada                                     1
              Centeno                                    1
              Ma√≠z                                       1
              Trigo                                      1
              Triticale                                  1
Segovia       Avena                                      1
              Cebada                                     1
              Centeno                                    1
              Colza                                      1
              Pipa                                       1
              Pipa Girasol                               1
              Trigo                                      1
Valladolid    Cebada                                     1
Zamora        Avena                                      1
              Cebada                                     1
              Ma√≠z                                       1
              Trigo                                      1
Zaragoza      Cebada                                     1
              Trigo                                      1

                                         product_family.name  \
province_name product_meta_product.name
Albacete      Avena                                        2
              Cebada                                       3
              Centeno                                      1
              Ma√≠z                                         2
              Trigo                                        5
              Triticale                                    1
Barcelona     Cebada                                       2
              Ma√≠z                                         2
              Pipa                                         1
              Trigo                                        1
Burgos        Trigo                                        1
Ciudad Real   Cebada                                       1
Cuenca        Cebada                                       1
C√≥rdoba       Cebada                                       1
              Trigo                                        6
Le√≥n          Avena                                        1
              Cebada                                       1
              Centeno                                      1
              Ma√≠z                                         2
              Pipa                                         1
              Pipa Girasol                                 1
              Trigo                                        1
              Triticale                                    1
Lleida        Cebada                                       1
              Trigo                                        1
Palencia      Cebada                                       1
              Trigo                                        1
Par√≠s         Ma√≠z                                         1
              Trigo                                        1
Salamanca     Avena                                        1
              Cebada                                       1
              Centeno                                      1
              Ma√≠z                                         1
              Trigo                                        1
              Triticale                                    1
Segovia       Avena                                        1
              Cebada                                       1
              Centeno                                      1
              Colza                                        1
              Pipa                                         1
              Pipa Girasol                                 1
              Trigo                                        1
Valladolid    Cebada                                       1
Zamora        Avena                                        1
              Cebada                                       1
              Ma√≠z                                         1
              Trigo                                        1
Zaragoza      Cebada                                       1
              Trigo                                        1

                                         product_variety.id  \
province_name product_meta_product.name
Albacete      Avena                                       2
              Cebada                                      3
              Centeno                                     1
              Ma√≠z                                        2
              Trigo                                       5
              Triticale                                   1
Barcelona     Cebada                                      2
              Ma√≠z                                        2
              Pipa                                        1
              Trigo                                       1
Burgos        Trigo                                       1
Ciudad Real   Cebada                                      1
Cuenca        Cebada                                      1
C√≥rdoba       Cebada                                      1
              Trigo                                       6
Le√≥n          Avena                                       1
              Cebada                                      1
              Centeno                                     1
              Ma√≠z                                        2
              Pipa                                        1
              Pipa Girasol                                1
              Trigo                                       1
              Triticale                                   1
Lleida        Cebada                                      1
              Trigo                                       1
Palencia      Cebada                                      1
              Trigo                                       1
Par√≠s         Ma√≠z                                        1
              Trigo                                       1
Salamanca     Avena                                       1
              Cebada                                      1
              Centeno                                     1
              Ma√≠z                                        1
              Trigo                                       1
              Triticale                                   1
Segovia       Avena                                       1
              Cebada                                      1
              Centeno                                     1
              Colza                                       1
              Pipa                                        1
              Pipa Girasol                                1
              Trigo                                       1
Valladolid    Cebada                                      1
Zamora        Avena                                       1

In [ ]:
import requests
import pandas as pd
from pandas import json_normalize

url = 'https://api.abastores.com/api/v2/marketdata/dataprice/?page=3&page_size=100'
page_size = 1000
page = 2
data_list = []
bearer_token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzA2MjcyNTcxLCJqdGkiOiIxMDNmNWQ0MzAxMGU0MWNjOTcyOGNhMjA0ZWU2ZDQ3YSIsInVzZXJfaWQiOjQzODV9.kloRA-VamXlUpO6D98GDfxPXVssTV2Dt_JP4i8WeqFM'

while True:
    params = {'page': page, 'page_size': page_size}
    headers = {
        'accept': 'application/json',
        'Authorization': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzA2MjcyNTcxLCJqdGkiOiIxMDNmNWQ0MzAxMGU0MWNjOTcyOGNhMjA0ZWU2ZDQ3YSIsInVzZXJfaWQiOjQzODV9.kloRA-VamXlUpO6D98GDfxPXVssTV2Dt_JP4i8WeqFM'
    }
    
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        json_data = response.json()
        results = json_data.get('results', [])

        if not results:
            break

        data_list.extend(results)
        page += 1
    else:
        print(f"Error: {response.status_code}")
        break

df = pd.DataFrame(data_list)

df_normalized = pd.json_normalize(df['results'])

df.to_csv('api_data.csv', index=False)

**Solucion 1**
- Endpoint: 'https://api.abastores.com/api/v2/marketdata/dataprice/'
- Solution: Intentar conectarse y recopilar data por pagina

In [157]:
import requests
import pandas as pd
from pandas import json_normalize

url = 'https://api.abastores.com/api/v2/marketdata/dataprice/'
page_size = 1000
page = 2
data_list = []

while True:
    params = {'page': page, 'page_size': page_size}
    response = requests.get(url, params=params)

    if response.status_code == 200:
        json_data = response.json()
        results = json_data.get('results', [])

        if not results:
            break

        data_list.extend(results)
        page += 1
    else:
        print(f"Error: {response.status_code}")
        break

df = pd.DataFrame(data_list)

df_normalized = pd.json_normalize(df['results'])

df.to_csv('api_data.csv', index=False)

Error: 404

KeyError: 'results'

**Solucion 2**
- Endpoint: 'https://api.abastores.com/api/v2/marketdata/dataprice/?page=1'
- Solution: Intentar conectarse y recopilar data por pagina cambiando el query en el endpoint

In [151]:
import requests
import pandas as pd
from pandas import json_normalize

url = 'https://api.abastores.com/api/v2/marketdata/dataprice/?page=1'
page_size = 1000
page_number = 1
data_list = []

response = requests.get(url)

if response.status_code == 200:
    json_data = response.json()
    results = json_data.get('results', [])

    if not results:
          # No more data, exit the loop

    data_list.extend(results)
    page_number += 1
else:
    print(f"Error: {response.status_code}")

# Convert the list of data into a DataFrame
df = pd.DataFrame(data_list)

# Optionally, normalize JSON data within the DataFrame
df_normalized = pd.json_normalize(df['results'])

# Save the DataFrame to a CSV file
df.to_csv('api_data.csv', index=False)

Error: 200

KeyError: 'results'

**Exploracion del API**

In [150]:
url = 'https://api.abastores.com/api/v2/marketdata/dataprice/?page=1'

response = requests.get(url)

if response.status_code == 200:
    print(response.json())
else:
    print(f"Error: {response.status_code}")
json_data = response.json()
df = pd.DataFrame(json_data)
df.to_csv('api_data.csv', index=False)
df_1=pd.DataFrame(json_normalize(df['results']))

{'count': 6, 'next': None, 'previous': None, 'results': [{'id': 178992, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 15, 'name': 'Valladolid'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 208.0, 'quantity': None, 'region': None}, {'id': 178991, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 56, 'name': 'Zaragoza'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 198.5, 'quantity': None, 'region': None}, {'id': 178990, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 5, 'name': 'Ciudad Real'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 212.0, 'quantity': None, 'region': None}, {'id': 178989, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 3, 'name': 'Albacete'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 211.0, 'quantity': None, 'region': None}, {'id': 178988, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 45, 'name': 'Lleida'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 196.0, 'quantity': None, 'region': None}, {'id': 178987, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 13, 'name': 'Cuenca'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 209.0, 'quantity': None, 'region': None}]}

In [142]:
url = 'https://api.abastores.com/api/v2/marketdata/dataprice/?page=1'

response = requests.get(url)

if response.status_code == 200:
    print(response.json())
else:
    print(f"Error: {response.status_code}")
json_data = response.json()
df = pd.DataFrame(json_data)
df.to_csv('api_data.csv', index=False)
df_1=pd.DataFrame(json_normalize(df['results']))

{'count': 6, 'next': None, 'previous': None, 'results': [{'id': 178992, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 15, 'name': 'Valladolid'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 208.0, 'quantity': None, 'region': None}, {'id': 178991, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 56, 'name': 'Zaragoza'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 198.5, 'quantity': None, 'region': None}, {'id': 178990, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 5, 'name': 'Ciudad Real'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 212.0, 'quantity': None, 'region': None}, {'id': 178989, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 3, 'name': 'Albacete'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 211.0, 'quantity': None, 'region': None}, {'id': 178988, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 45, 'name': 'Lleida'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 196.0, 'quantity': None, 'region': None}, {'id': 178987, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'icon': 'a-barley'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}}, 'province': {'id': 13, 'name': 'Cuenca'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-24T15:35:00Z', 'deviation': 0.0}, 'date': '2024-01-24T16:35:00+01:00', 'price': 209.0, 'quantity': None, 'region': None}]}

In [139]:
df_1

,id,date,price,quantity,region,product.id,product.meta_product.id,product.meta_product.name,product.meta_product.icon,product.family.id,...,product.variety.id,product.variety.name,province.id,province.name,data_source.id,data_source.name,data_source.link,data_source.kind,last_deviation.date,last_deviation.deviation
0,178992,2024-01-24T16:35:00+01:00,208.0,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,15,Valladolid,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0
1,178991,2024-01-24T16:35:00+01:00,198.5,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,56,Zaragoza,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0
2,178990,2024-01-24T16:35:00+01:00,212.0,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,5,Ciudad Real,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0
3,178989,2024-01-24T16:35:00+01:00,211.0,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,3,Albacete,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0
4,178988,2024-01-24T16:35:00+01:00,196.0,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,45,Lleida,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0
5,178987,2024-01-24T16:35:00+01:00,209.0,None,None,20461,5,Cebada,a-barley,1,...,1,Com√∫n,13,Cuenca,31,Abastores,https://www.abastores.com/,ABASTORES,2024-01-24T15:35:00Z,0.0

In [98]:
url = 'https://api.abastores.com/api/v1/marketdata/data-prices/?data_source_kind=ABASTORES&limit=1000000'
headers = {'accept': 'application/json'}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    print(response.json())
else:
    print(f"Error: {response.status_code}")

json_data = response.json()
df = pd.DataFrame(json_data)
df.to_csv('api_data.csv', index=False)
df_1=pd.DataFrame(json_normalize(df['results']))

{'count': 23, 'next': None, 'previous': None, 'results': [{'id': 2, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 6, 'product_count': 1, 'name': 'C√°ceres'}, 'region': {'id': 3, 'name': 'Sierra de Mont√°nchez y Tamuja'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-02-10T01:00:00+01:00', 'price': 301.0, 'quantity': 25000.0}, {'id': 3, 'product': {'id': 21816, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15541, 'name': 'Importaci√≥n'}, 'other_variety': '', 'other_family': ''}, 'province': {'id': 7, 'product_count': 1, 'name': 'Huelva'}, 'region': {'id': 4, 'name': 'Puerto de Huelva'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-02-10T01:00:00+01:00', 'price': 279.0, 'quantity': 100000.0}, {'id': 4, 'product': {'id': 21737, 'meta_product': {'id': 8, 'name': 'Avena', 'iva': 4, 'icon': 'a-oat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15499, 'name': 'Blanca'}, 'other_variety': '', 'other_family': ''}, 'province': {'id': 8, 'product_count': 1, 'name': 'Navarra'}, 'region': {'id': 5, 'name': 'Pamplona'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-02-11T01:00:00+01:00', 'price': 295.0, 'quantity': 25000.0}, {'id': 5, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 3, 'product_count': 24, 'name': 'Albacete'}, 'region': {'id': 6, 'name': 'Llanos de Albacete'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-02-17T01:00:00+01:00', 'price': 300.0, 'quantity': 100000.0}, {'id': 7, 'product': {'id': 21758, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15517, 'name': 'Nacional'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 9, 'product_count': 18, 'name': 'C√≥rdoba'}, 'region': {'id': 8, 'name': 'Valle Medio del Guadalquivir'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-03-02T01:00:00+01:00', 'price': 320.0, 'quantity': 50.0}, {'id': 8, 'product': {'id': 21816, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15541, 'name': 'Importaci√≥n'}, 'other_variety': '', 'other_family': ''}, 'province': {'id': 10, 'product_count': 1, 'name': 'Murcia'}, 'region': {'id': 9, 'name': 'Puerto Cartagena'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-03-01T01:00:00+01:00', 'price': 330.0, 'quantity': 100.0}, {'id': 10, 'product': {'id': 547, 'meta_product': {'id': 6, 'name': 'Centeno', 'iva': 4, 'icon': 'a-rye', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15371, 'name': 'Com√∫n'}, 'other_variety': '', 'other_family': ''}, 'province': {'id': 11, 'product_count': 3, 'name': 'Palencia'}, 'region': {'id': 10, 'name': 'Vega-Valdavia'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-03-10T01:00:00+01:00', 'price': 360.0, 'quantity': 100000.0}, {'id': 11, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 2, 'product_count': 25, 'name': 'Toledo'}, 'region': {'id': 11, 'name': 'La Sagra'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-03-10T01:00:00+01:00', 'price': 375.0, 'quantity': 100000.0}, {'id': 12, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 12, 'product_count': 2, 'name': 'Burgos'}, 'region': {'id': 12, 'name': 'Arlanza'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-03-10T01:00:00+01:00', 'price': 375.0, 'quantity': 75000.0}, {'id': 82, 'product': {'id': 21758, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15517, 'name': 'Nacional'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 2, 'product_count': 25, 'name': 'Toledo'}, 'region': {'id': 16, 'name': 'Null'}, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': None, 'date': '2022-08-22T02:00:00+02:00', 'price': 355.0, 'quantity': 0.0}, {'id': 178953, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 56, 'product_count': 2, 'name': 'Zaragoza'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 213.5, 'quantity': None}, {'id': 178954, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 45, 'product_count': 2, 'name': 'Lleida'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 207.0, 'quantity': None}, {'id': 178955, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 11, 'product_count': 3, 'name': 'Palencia'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 216.5, 'quantity': None}, {'id': 178956, 'product': {'id': 1, 'meta_product': {'id': 284, 'name': 'Trigo', 'iva': 4, 'icon': 'a-wheat', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15557, 'name': 'Blando'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 12, 'product_count': 2, 'name': 'Burgos'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 216.5, 'quantity': None}, {'id': 178957, 'product': {'id': 21758, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15517, 'name': 'Nacional'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 3, 'product_count': 24, 'name': 'Albacete'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 221.0, 'quantity': None}, {'id': 178958, 'product': {'id': 21758, 'meta_product': {'id': 4, 'name': 'Ma√≠z', 'iva': 4, 'icon': 'a-corn', 'logo': 'https://api.abastores.com/media/logos/product/Maiz.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 15517, 'name': 'Nacional'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 14, 'product_count': 13, 'name': 'Le√≥n'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -0.5}, 'date': '2024-01-23T18:05:00+01:00', 'price': 207.0, 'quantity': None}, {'id': 178959, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 13, 'product_count': 1, 'name': 'Cuenca'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 209.0, 'quantity': None}, {'id': 178960, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 45, 'product_count': 2, 'name': 'Lleida'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -0.5}, 'date': '2024-01-23T18:05:00+01:00', 'price': 196.0, 'quantity': None}, {'id': 178961, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 3, 'product_count': 24, 'name': 'Albacete'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 211.0, 'quantity': None}, {'id': 178962, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 5, 'product_count': 21, 'name': 'Ciudad Real'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 212.0, 'quantity': None}, {'id': 178963, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 56, 'product_count': 2, 'name': 'Zaragoza'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -0.5}, 'date': '2024-01-23T18:05:00+01:00', 'price': 198.5, 'quantity': None}, {'id': 178964, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 15, 'product_count': 1, 'name': 'Valladolid'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:05:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:05:00+01:00', 'price': 208.0, 'quantity': None}, {'id': 178965, 'product': {'id': 20461, 'meta_product': {'id': 5, 'name': 'Cebada', 'iva': 4, 'icon': 'a-barley', 'logo': 'https://api.abastores.com/media/logos/product/Trigo.png'}, 'family': {'id': 1, 'name': 'Cereales'}, 'variety': {'id': 1, 'name': 'Com√∫n'}, 'other_variety': None, 'other_family': None}, 'province': {'id': 11, 'product_count': 3, 'name': 'Palencia'}, 'region': None, 'data_source': {'id': 31, 'name': 'Abastores', 'link': 'https://www.abastores.com/', 'kind': 'ABASTORES'}, 'last_deviation': {'date': '2024-01-23T17:10:00Z', 'deviation': -1.0}, 'date': '2024-01-23T18:10:00+01:00', 'price': 206.5, 'quantity': None}]}

In [99]:
df_2=pd.concat([df,df_1],axis=1)

In [103]:
print(len(df_2))
df_2.columns

23

Index(['count', 'next', 'previous', 'results', 'id', 'last_deviation', 'date',
       'price', 'quantity', 'product.id', 'product.meta_product.id',
       'product.meta_product.name', 'product.meta_product.iva',
       'product.meta_product.icon', 'product.meta_product.logo',
       'product.family.id', 'product.family.name', 'product.variety.id',
       'product.variety.name', 'product.other_variety', 'product.other_family',
       'province.id', 'province.product_count', 'province.name', 'region.id',
       'region.name', 'data_source.id', 'data_source.name', 'data_source.link',
       'data_source.kind', 'region', 'last_deviation.date',
       'last_deviation.deviation'],
      dtype='object')

In [104]:
df_2

,count,next,previous,results,id,last_deviation,date,price,quantity,product.id,...,province.name,region.id,region.name,data_source.id,data_source.name,data_source.link,data_source.kind,region,last_deviation.date,last_deviation.deviation
0,23,None,None,"{'id': 2, 'product': {'id': 1, 'meta_product':...",2,NaN,2022-02-10T01:00:00+01:00,301.0,25000.0,1,...,C√°ceres,3.0,Sierra de Mont√°nchez y Tamuja,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
1,23,None,None,"{'id': 3, 'product': {'id': 21816, 'meta_produ...",3,NaN,2022-02-10T01:00:00+01:00,279.0,100000.0,21816,...,Huelva,4.0,Puerto de Huelva,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
2,23,None,None,"{'id': 4, 'product': {'id': 21737, 'meta_produ...",4,NaN,2022-02-11T01:00:00+01:00,295.0,25000.0,21737,...,Navarra,5.0,Pamplona,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
3,23,None,None,"{'id': 5, 'product': {'id': 1, 'meta_product':...",5,NaN,2022-02-17T01:00:00+01:00,300.0,100000.0,1,...,Albacete,6.0,Llanos de Albacete,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
4,23,None,None,"{'id': 7, 'product': {'id': 21758, 'meta_produ...",7,NaN,2022-03-02T01:00:00+01:00,320.0,50.0,21758,...,C√≥rdoba,8.0,Valle Medio del Guadalquivir,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
5,23,None,None,"{'id': 8, 'product': {'id': 21816, 'meta_produ...",8,NaN,2022-03-01T01:00:00+01:00,330.0,100.0,21816,...,Murcia,9.0,Puerto Cartagena,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
6,23,None,None,"{'id': 10, 'product': {'id': 547, 'meta_produc...",10,NaN,2022-03-10T01:00:00+01:00,360.0,100000.0,547,...,Palencia,10.0,Vega-Valdavia,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
7,23,None,None,"{'id': 11, 'product': {'id': 20461, 'meta_prod...",11,NaN,2022-03-10T01:00:00+01:00,375.0,100000.0,20461,...,Toledo,11.0,La Sagra,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
8,23,None,None,"{'id': 12, 'product': {'id': 20461, 'meta_prod...",12,NaN,2022-03-10T01:00:00+01:00,375.0,75000.0,20461,...,Burgos,12.0,Arlanza,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
9,23,None,None,"{'id': 82, 'product': {'id': 21758, 'meta_prod...",82,NaN,2022-08-22T02:00:00+02:00,355.0,0.0,21758,...,Toledo,16.0,Null,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,NaN,NaN
10,23,None,None,"{'id': 178953, 'product': {'id': 1, 'meta_prod...",178953,NaN,2024-01-23T18:05:00+01:00,213.5,NaN,1,...,Zaragoza,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
11,23,None,None,"{'id': 178954, 'product': {'id': 1, 'meta_prod...",178954,NaN,2024-01-23T18:05:00+01:00,207.0,NaN,1,...,Lleida,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
12,23,None,None,"{'id': 178955, 'product': {'id': 1, 'meta_prod...",178955,NaN,2024-01-23T18:05:00+01:00,216.5,NaN,1,...,Palencia,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
13,23,None,None,"{'id': 178956, 'product': {'id': 1, 'meta_prod...",178956,NaN,2024-01-23T18:05:00+01:00,216.5,NaN,1,...,Burgos,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
14,23,None,None,"{'id': 178957, 'product': {'id': 21758, 'meta_...",178957,NaN,2024-01-23T18:05:00+01:00,221.0,NaN,21758,...,Albacete,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
15,23,None,None,"{'id': 178958, 'product': {'id': 21758, 'meta_...",178958,NaN,2024-01-23T18:05:00+01:00,207.0,NaN,21758,...,Le√≥n,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-0.5
16,23,None,None,"{'id': 178959, 'product': {'id': 20461, 'meta_...",178959,NaN,2024-01-23T18:05:00+01:00,209.0,NaN,20461,...,Cuenca,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
17,23,None,None,"{'id': 178960, 'product': {'id': 20461, 'meta_...",178960,NaN,2024-01-23T18:05:00+01:00,196.0,NaN,20461,...,Lleida,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-0.5
18,23,None,None,"{'id': 178961, 'product': {'id': 20461, 'meta_...",178961,NaN,2024-01-23T18:05:00+01:00,211.0,NaN,20461,...,Albacete,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
19,23,None,None,"{'id': 178962, 'product': {'id': 20461, 'meta_...",178962,NaN,2024-01-23T18:05:00+01:00,212.0,NaN,20461,...,Ciudad Real,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
20,23,None,None,"{'id': 178963, 'product': {'id': 20461, 'meta_...",178963,NaN,2024-01-23T18:05:00+01:00,198.5,NaN,20461,...,Zaragoza,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-0.5
21,23,None,None,"{'id': 178964, 'product': {'id': 20461, 'meta_...",178964,NaN,2024-01-23T18:05:00+01:00,208.0,NaN,20461,...,Valladolid,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:05:00Z,-1.0
22,23,None,None,"{'id': 178965, 'product': {'id': 20461, 'meta_...",178965,NaN,2024-01-23T18:10:00+01:00,206.5,NaN,20461,...,Palencia,NaN,NaN,31,Abastores,https://www.abastores.com/,ABASTORES,NaN,2024-01-23T17:10:00Z,-1.0

In [101]:
df_2[['province.id','province.name']].sort_values('province.id').drop_duplicates()

    province.id province.name
7             2        Toledo
3             3      Albacete
19            5   Ciudad Real
0             6       C√°ceres
1             7        Huelva
2             8       Navarra
4             9       C√≥rdoba
5            10        Murcia
12           11      Palencia
13           12        Burgos
16           13        Cuenca
15           14          Le√≥n
21           15    Valladolid
17           45        Lleida
10           56      Zaragoza

In [110]:
df_2[['product.id','product.meta_product.id','product.meta_product.name']].sort_values('product.id').drop_duplicates()

    product.id  product.meta_product.id product.meta_product.name
0            1                      284                     Trigo
6          547                        6                   Centeno
22       20461                        5                    Cebada
2        21737                        8                     Avena
9        21758                        4                      Ma√≠z
5        21816                        4                      Ma√≠z

In [111]:
df_2[['product.id','product.name']].value_counts()

KeyError: "['product.name'] not in index"

In [57]:

url = 'https://api.abastores.com/api/v1/marketdata/data-prices/'
headers = {'accept': 'application/json'}

response = requests.get(url, headers=headers)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Process the API response (response.text, response.json(), etc.)
    print(response.json())
else:
    # Handle errors
    print(f"Error: {response.status_code}")

json_data = response.json()
df = pd.DataFrame(json_data)
df.to_csv('api_data.csv', index=False)
df_1=pd.DataFrame(json_normalize(df['results']))

Error: 502

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
df

In [ ]:
df_1

In [54]:
import requests
import pandas as pd

url = 'https://api.abastores.com/api/v1/marketdata/data-prices/history/?limit=10000&province_id=16'
headers = {'accept': 'application/json'}

response = requests.get(url, headers=headers)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Process the API response and convert JSON data to a DataFrame
    json_data = response.json()

    # Assuming the JSON data is a list of dictionaries, you can directly convert it to a DataFrame
    df = pd.DataFrame(json_data)

    # Print the DataFrame
    print(df)

    # Optionally, you can save the DataFrame to a CSV file
    df.to_csv('api_data.csv', index=False)
else:
    # Handle errors
    print(f"Error: {response.status_code}")

Empty DataFrame
Columns: [count, next, previous, results]
Index: []

In [43]:
df

,count,next,previous,results
0,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2024-01-23T18:15:00+01:00', 'price':..."
1,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2024-01-23T18:15:00+01:00', 'price':..."
2,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2024-01-23T18:10:00+01:00', 'price':..."
3,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2024-01-23T18:05:00+01:00', 'price':..."
4,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2024-01-23T18:05:00+01:00', 'price':..."
...,...,...,...,...
9995,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2019-02-13T01:00:00+01:00', 'price':..."
9996,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2019-02-13T01:00:00+01:00', 'price':..."
9997,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2019-02-13T00:00:00+01:00', 'price':..."
9998,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2019-02-11T01:00:00+01:00', 'price':..."
9999,34826,https://api.abastores.com/api/v1/marketdata/da...,None,"{'date': '2019-02-11T01:00:00+01:00', 'price':..."

In [44]:
from pandas import json_normalize
df_1=pd.DataFrame(json_normalize(df['results']))

In [45]:
df_1

                           date   price
0     2024-01-23T18:15:00+01:00  217.25
1     2024-01-23T18:15:00+01:00  186.00
2     2024-01-23T18:10:00+01:00  206.50
3     2024-01-23T18:05:00+01:00  213.50
4     2024-01-23T18:05:00+01:00  207.00
...                         ...     ...
9995  2019-02-13T01:00:00+01:00  160.00
9996  2019-02-13T01:00:00+01:00  183.00
9997  2019-02-13T00:00:00+01:00  166.00
9998  2019-02-11T01:00:00+01:00  176.69
9999  2019-02-11T01:00:00+01:00  213.75

[10000 rows x 2 columns]

In [30]:
df_1['id'].unique()

array([     2,      3,      4,      5,      7,      8,     10,     11,
           12,     82,  66918,  66919,  66920,  66921,  66922,  66923,
        66924, 103586, 105024, 120839, 120841, 120842, 120843, 120848,
       120849, 163617, 163621, 165403, 165570, 165590, 165591, 170999,
       171000, 171001, 171002, 171003, 171004, 171005, 171006, 171007,
       171008, 171009, 171040, 171271, 171272, 171288, 171289, 171292,
       171293, 171558, 171559, 171560, 171562, 171568, 171570, 171609,
       171610, 171611, 171612, 171613, 171614, 171615, 171616, 171634,
       171635, 171636, 171637, 171638, 171681, 171721, 171735, 171762,
       171777, 171833, 171860, 171991, 172091, 172092, 173569, 173714,
       173828, 174564, 174665, 175150, 175151, 175819, 175951, 175952,
       176229, 176331, 176332, 176464, 176510, 176570, 176619, 176643,
       176646, 176650, 176651, 176952, 177018, 177091, 177402, 177406,
       177408, 177411, 177413, 177415, 177417, 177419, 177421, 177422,
       177423, 177424, 177425, 177598, 177599, 177600, 177601, 177602,
       177603, 177604, 177605, 177606, 177607, 177608, 177609, 177610,
       177611, 177612, 177613, 177614, 177615, 177640, 177711, 177718,
       177719, 177720, 177756, 177900, 177915, 178053, 178054, 178143,
       178144, 178293, 178323, 178324, 178326, 178327, 178328, 178329,
       178330, 178332, 178333, 178682, 178683, 178684, 178685, 178686,
       178687, 178688, 178769, 178841, 178842, 178843, 178844, 178845,
       178846, 178847, 178848, 178864, 178865, 178866, 178867, 178868,
       178869, 178870, 178871, 178872, 178873, 178874, 178875, 178893,
       178894, 178895, 178896, 178897, 178898, 178920, 178921, 178922,
       178923, 178924, 178925, 178943, 178944, 178945, 178946, 178947,
       178948, 178949, 178950, 178951, 178952, 178953, 178954, 178955,
       178956, 178957, 178958, 178959, 178960, 178961, 178962, 178963,
       178964, 178965, 178966, 178967])